<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"cds--content","style":{"spacing":{"padding":{"top":"var:preset|spacing|07","right":"var:preset|spacing|06","bottom":"0","left":"var:preset|spacing|06"}}},"layout":{"type":"constrained"},"anchor":"main-content"} -->
<main id="main-content" class="wp-block-group cds--content" style="padding-top:var(--wp--preset--spacing--07);padding-right:var(--wp--preset--spacing--06);padding-bottom:0;padding-left:var(--wp--preset--spacing--06)">

	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
