<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","className":"cds--content","style":{"spacing":{"padding":{"top":"var:preset|spacing|07","right":"var:preset|spacing|06","bottom":"var:preset|spacing|07","left":"var:preset|spacing|06"}}},"layout":{"type":"constrained"},"anchor":"main-content"} -->
<main id="main-content" class="wp-block-group cds--content" style="padding-top:var(--wp--preset--spacing--07);padding-right:var(--wp--preset--spacing--06);padding-bottom:var(--wp--preset--spacing--07);padding-left:var(--wp--preset--spacing--06)">

	<!-- wp:query-title {"type":"search","level":1} /-->

	<!-- wp:search {"label":"Search","showLabel":true,"placeholder":"Search this site…","buttonText":"Search"} /-->

	<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","inherit":true}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:post-title {"isLink":true,"level":2} /-->
			<!-- wp:post-excerpt /-->
		<!-- /wp:post-template -->

		<!-- wp:query-no-results -->
			<!-- wp:paragraph -->
			<p>No results. Try different keywords.</p>
			<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
